@import url(//fonts.googleapis.com/css?family=Sanchez);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
/*-----template stylization-----*/
body {
	background: #ffffff url(../img/pattern1.png) repeat;
	font: 14px Arial, Helvetica, sans-serif;
	line-height: 1.428571429;
	color: #8c8c8c;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	background: none;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}
textarea, input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: caret;
}
p {
	margin-bottom: 20px;
	line-height: 20px;
}
p strong {
	color: #373737;
}
h1.navbar-brand_ {
	margin: 0;
	padding: 0;
	float: none;
	margin-bottom: 45px;
}
h1.navbar-brand_ a {
	display: inline-block;
}
h2 {
	color: #383838;
	font: 300 30px/36px 'Open Sans';
	margin: 0 0 16px 0;
}
h3 {
	color: #555;
	font: 300 24px/34px 'Open Sans';
	width: 100%;
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 31px;
	margin: 0 0 24px 0;
}
h4 {
	color: #2d2d2d;
	font: 300 19px/24px 'Open Sans';
	margin: 0 0 8px 0;
}
.extra-wrap {
	overflow: hidden;
}
.container {
	position: relative;
}
.global {
	background: #ffffff url(../img/pattern2.png) repeat;
	margin-top: -64px;
}
.global.indent {
	padding-top: 97px;
}
/*-----menu-----*/
nav.tm_navbar {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}
nav.tm_navbar li {
	float: left;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	padding-right: 30px;
	margin-right: 30px;
	background: url(../img/menu_point.png) right 10px no-repeat;
}
nav.tm_navbar li:last-child {
	padding-right: 0;
	margin-right: 0;
	background: none;
}
nav.tm_navbar li a {
	position: relative;
	padding: 0;
	font: 18px 'Sanchez';
	color: #ffffff;
	background: none;
	line-height: 22px;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar li.active > a {
	color: #383838;
	background: none;
}
nav.tm_navbar li > a:hover {
	color: #383838;
	background: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar .sfHover > a {
	color: #383838;
	background: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar li a span {
	display: inline-block;
	height: 6px;
	background: url(../img/menu-marker.png) no-repeat;
	width: 7px;
	position: absolute;
	left: 34px;
	top: 29px;
}
/*-----subMenu1-----*/
nav.tm_navbar .sub-menu > ul {
	position: absolute;
	display: none;
	width: 99px;
	top: 48px;
	left: -13px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #2e2e2e;
	padding: 20px 24px;
	margin: 0;
	text-align: center;
	border-radius: 20px;
}
nav.tm_navbar .sub-menu > ul li {
	background: none;
	border: none;
	width: auto;
	float: none;
	margin: 0;
	padding: 0 0 8px 0;
	display: block;
	text-align: center;
	background: url(../img/dotted1.png) 0 bottom repeat-x;
}
nav.tm_navbar .sub-menu > ul li.triangle {
	background: url(../img/triangle.png) no-repeat !important;
	width: 9px;
	height: 5px;
	position: absolute;
	border: none;
	top: -5px;
	left: 45px;
}
nav.tm_navbar .sub-menu > ul li:first-child + li + li {
	background: none;
}
nav.tm_navbar .sub-menu > ul li a {
	background: transparent;
	padding: 0;
	margin: 0;
	float: none;
	font: 13px 'Open Sans';
	color: #a4a4a4;
	text-transform: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar .sub-menu > ul li a span {
	display: inline-block;
	background: url(../img/menu-marker2.png) no-repeat;
	width: 6px;
	height: 7px;
	position: absolute;
	top: 8px;
	left: 40px;
}
nav.tm_navbar .sub-menu > ul li a:hover {
	text-decoration: none;
	color: #ffffff !important;
	background: none !important;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
nav.tm_navbar .sub-menu > ul li.sfHover > a {
	text-decoration: none;
	color: #ffffff !important;
	background: none !important;
}
/*-----subMenu2-----*/
nav.tm_navbar .sub-menu ul ul {
	position: absolute;
	display: none;
	width: 99px;
	top: -20px;
	left: 75px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #21adde;
	padding: 20px 24px;
	margin: 0;
	text-align: center;
	border-radius: 20px;
}
nav.tm_navbar .sub-menu ul ul li {
	background: url(../img/dotted2.png) 0 bottom repeat-x;
	text-align: left;
}
nav.tm_navbar .sub-menu ul ul li:last-child {
	background: none;
}
nav.tm_navbar .sub-menu ul ul li a {
	background: transparent;
	padding: 0;
	margin: 0;
	float: none;
	font: 13px 'Open Sans';
	color: #ace9ff;
	text-transform: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar .sub-menu > ul li > ul li a:hover {
	text-decoration: none;
	color: #ffffff !important;
	background: none !important;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.select-menu {
	display: none !important;
}
/*-----content-----*/
header {
	position: relative;
	width: 100%;
	margin: 0;
	top: 0;
	left: 0;
	text-align: center;
	background: #81c52b;
}
header section {
	background: #89ca30;
	padding-top: 36px;
	padding-bottom: 81px;
}
footer {
	position: relative;
	padding-top: 45px;
	padding-bottom: 45px;
	border-top: 1px solid #ffffff;
}
footer p {
	font: 14px/22px 'Open Sans';
	text-transform: uppercase;
	color: #4d4d4d;
}
footer p a {
	font: 14px/22px 'Open Sans';
	text-transform: uppercase;
	color: #4d4d4d;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
footer p a:hover {
	color: #9fd457;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
footer article > div {
	padding-top: 32px;
}
.homeBox > div {
	border-left: 1px solid #dfdfdf;
}
.homeBox figure {
	margin: 0;
	float: left;
	margin-right: 10px;
	margin-left: 45px;
}
.privBox > div {
	border-left: 1px solid #dfdfdf;
}
.privBox p {
	margin-left: 45px;
}
.bg_pic {
	background: url(../img/pattern3.png) repeat;
}
.bg_pic figure {
	margin: 0;
}
.bg_pic img {
	width: 100%;
}
.welcomeBox {
	background: url(../img/pattern4.png) repeat;
}
.welcomeBox .col-lg-12 > div {
	background: #ffffff;
	padding-top: 38px;
	padding-bottom: 50px;
	text-align: center;
}
.welcomeBox .col-lg-12 > div h2 {
	border-bottom: 1px dotted #c6c6c6;
	padding-bottom: 30px;
}
.bannersBox {
	overflow: hidden;
	margin-top: 35px;
	margin-bottom: 34px;
}
.bannersBox .box1 {
	width: 390px;
	float: left;
	text-align: center;
	background: #ffffff;
}
.bannersBox .box1 figure {
	margin-bottom: 54px;
}
.bannersBox .box1 figure img {
	width: 100%;
}
.bannersBox .box1 .caption {
	padding-bottom: 50px;
}
.bannersBox .box1 a {
	width: 50px;
	height: 50px;
	display: inline-block;
	background: url(../img/plus.png) no-repeat;
	opacity: 1;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.bannersBox .box1 a:hover {
	opacity: 0.8;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.bannersBox .box2 {
	width: 390px;
	float: left;
	text-align: center;
	background: #ffffff;
}
.bannersBox .box2 figure {
	margin-bottom: 0;
}
.bannersBox .box2 figure img {
	width: 100%;
}
.bannersBox .box2 .caption {
	padding-top: 48px;
	padding-bottom: 57px;
}
.bannersBox .box2 a {
	width: 50px;
	height: 50px;
	display: inline-block;
	background: url(../img/plus.png) no-repeat;
	opacity: 1;
	margin-bottom: 30px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.bannersBox .box2 a:hover {
	opacity: 0.8;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.bannersBox2 {
	margin-bottom: 36px;
}
.bannersBox2 .box1 > div {
	background: #ffffff;
	padding: 42px 40px 30px 40px;
}
.bannersBox2 .box1 > div p {
	font: 300 19px/24px 'Open Sans';
	color: #2d2d2d;
	margin-bottom: 32px;
    min-height: 72px;
}
.bannersBox2 .box1 > div figure {
	margin-bottom: 25px;
}
.bannersBox2 .box1 > div figure img {
	width: 100%;
}
.bannersBox2 .box1 > div > div {
	text-align: center;
}
.bannersBox2 .box2 > div {
	background: #ffffff;
	padding: 0 0 30px 0;
}
.bannersBox2 .box2 > div p {
	font: 300 19px/24px 'Open Sans';
	color: #2d2d2d;
	margin-bottom: 32px;
}
.bannersBox2 .box2 > div figure {
	margin-bottom: 25px;
}
.bannersBox2 .box2 > div figure img {
	width: 100%;
}
.bannersBox2 .box2 > div > div {
	text-align: center;
}
.bannersBox2 .box3 > div {
	background: url(../img/pattern5.png) repeat;
}
.bannersBox2 .box3 > div section {
	background: #ffffff;
	padding: 42px 40px 0 40px;
	margin-bottom: 42px;
}
.bannersBox2 .box3 > div p {
	font: 300 19px/24px 'Open Sans';
	color: #2d2d2d;
	margin-bottom: 32px;
}
.bannersBox2 .box3 > div a {
	margin-bottom: 47px;
}
.bannersBox2 .box3 > div > div {
	text-align: center;
}
.bannersBox2 .box3 > div ul {
	margin: 0;
	padding: 0;
	padding-top: 18px;
	margin-bottom: 32px;
	list-style: none;
}
.bannersBox2 .box3 > div ul li {
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 29px;
	margin-bottom: 26px;
}
.bannersBox2 .box3 > div ul li .badge {
	margin: 0;
	padding: 0;
	text-shadow: none;
	box-shadow: none;
	background: none;
	border-radius: 0;
	float: left;
	margin-right: 17px;
	margin-top: 3px;
}
.bannersBox2 .box3 > div ul li strong {
	font: bold 30px/24px 'Open Sans Condensed';
	color: #7ed8f7;
}
.bannersBox2 .box3 > div ul li p {
	margin-bottom: 0;
	color: #00b3f2;
	font: 19px/25px 'Open Sans';
    min-height: 50px;
}
.bannersBox2 .box3 > div ul li:first-child + li strong, .bannersBox2 .box3 > div ul li:first-child + li p {
	color: #89ca30;
}
.bannersBox2 .box3 > div ul li:first-child + li + li {
	border-bottom: none;
}
.bannersBox2 .box3 > div ul li:first-child + li + li strong, .bannersBox2 .box3 > div ul li:first-child + li + li p {
	color: #e962ab;
}
.aboutBox {
	margin-bottom: 30px;
}
.aboutBox > div {
	padding: 42px 40px 5px 40px;
	background: #ffffff;
}
.missionBox {
	margin-bottom: 30px;
}
.missionBox > div {
	padding: 42px 40px 5px 40px;
	background: #ffffff;
}
.trainers-box {
	margin-bottom: 30px;
}
.trainers-box > div {
	padding: 42px 40px 5px 40px;
	background: #ffffff;
}
.trainers-box h3 {
	margin: 0 0 19px 0;
}
.testimonialsBox {
	margin-bottom: 30px;
}
.testimonialsBox > div {
	padding: 42px 40px 25px 40px;
	background: #ffffff;
}
.testimonialsBox p {
	margin-bottom: 12px;
}
.testimonialsBox img {
	float: left;
	margin-right: 8px;
	margin-top: 5px;
}
.testimonialsBox a {
	color: #2d2d2d;
	font: 300 19px/20px 'Open Sans';
	margin: 0 0 17px 0;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.testimonialsBox a:hover {
	color: #89ca30;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.galleryBox {
	margin-bottom: 30px;
}
.galleryBox > div {
	padding: 42px 40px 0 40px;
	background: #ffffff;
}
.blogBox {
	margin-bottom: 30px;
}
.blogBox h3 {
	margin-bottom: 20px;
}
.blogBox > div {
	padding: 42px 40px 38px 40px;
	background: #ffffff;
}
.list5Box {
	margin-bottom: 30px;
}
.list5Box > div {
	padding: 42px 40px 13px 40px;
	background: #ffffff;
}
.form-box {
	margin-bottom: 30px;
}
.form-box > div {
	padding: 42px 40px 25px 40px;
	background: #ffffff;
}
.info-box {
	margin-bottom: 30px;
}
.info-box > div {
	padding: 42px 40px 30px 40px;
	background: #ffffff;
}
.contactBox {
	margin-bottom: 30px;
}
.contactBox > div {
	padding: 42px 40px 30px 40px;
	background: #ffffff;
}
.privacyBox {
	margin-bottom: 30px;
}
.privacyBox > div {
	padding: 42px 40px 30px 40px;
	background: #ffffff;
}
.error-box {
	margin-bottom: 30px;
}
.error-box > div {
	padding: 42px 40px 30px 40px;
	background: #ffffff;
}
.searchBox {
	margin-bottom: 30px;
}
.searchBox > div {
	padding: 42px 40px 30px 40px;
	background: #ffffff;
}
.formBox {
	overflow: hidden;
}
.errorBox > img {
	width: 100%;
	margin-left: -40px;
}
.errorBox1 h3 {
	margin-bottom: 17px;
	border-bottom: none;
	padding-bottom: 0;
}
#toTop {
	display: none;
	width: 18px;
	height: 18px;
	background: url(../img/top.png) no-repeat;
	position: fixed;
	margin-right: -640px !important;
	right: 50%;
	bottom: 100px;
	z-index: 999;
	opacity: 1;
}
#toTop:hover {
	background: url(../img/top.png) no-repeat;
	opacity: 0.8;
}
.teamBox {
	background: #ffffff;
	padding-top: 9px;
	padding-bottom: 66px;
}
.trainerBox {
	margin-bottom: 26px;
	padding-top: 4px;
}
.trainerBox figure {
	margin: 0;
}
.trainerBox figure img {
	width: 100%;
}
.trainerBox a {
	opacity: 1;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.trainerBox a:hover {
	opacity: 0.8;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/*-----thumbs-----*/
.thumb-pad1 .thumbnail {
	position: relative;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.thumb-pad1 .thumbnail .caption {
	padding: 0;
	color: #8c8c8c;
	overflow: hidden;
}
.thumb-pad1 .thumbnail figure {
	margin: 0;
	padding: 0;
	width: 61px;
	float: left;
	margin-right: 37px;
	margin-top: -4px;
}
.clockBox {
	padding-top: 64px;
}
.thumb-pad2 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad2 .thumbnail .caption {
	padding: 0;
	color: #8c8c8c;
	overflow: hidden;
}
.thumb-pad2 .thumbnail .caption h2 {
	font-weight: 300;
	font-size: 36px;
	color: #444;
	text-transform: none;
	line-height: 39px;
	margin-bottom: 25px;
}
.thumb-pad2 .thumbnail .caption p {
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 39px;
}
.thumb-pad2 figure {
	margin: 0;
	float: left;
	margin-right: 27px;
	margin-top: -6px;
}
.thumb-pad3 {
	overflow: hidden;
	margin-bottom: 40px;
}
.thumb-pad3 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad3 .thumbnail .caption {
	padding: 0;
	color: #8c8c8c;
	overflow: hidden;
}
.thumb-pad3 .thumbnail .caption p a {
	color: #2d2d2d;
	font: 300 19px/24px 'Open Sans';
	display: inline-block;
	margin: 0 0 8px 0;
}
.thumb-pad3 .thumbnail .caption p a:hover {
	color: #89ca30;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad3 figure {
	margin: 0 0 24px 0;
}
.thumb-pad3 figure a {
	opacity: 1;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.thumb-pad3 figure img {
	width: 100%;
}
.thumb-pad3 figure a:hover {
	opacity: 0.8;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.thumb-pad4 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad4 figure {
	margin: 0 21px 0 0;
	float: left;
}
.thumb-pad4 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	color: #8c8c8c;
}
.thumb-pad4 .thumbnail .caption .title {
	text-transform: uppercase;
	color: #4b4b4b;
	font-size: 10px;
}
.thumb-pad4 .thumbnail .caption .title1 {
	font: 20px 'Pacifico';
	color: #c1c1c1;
	text-align: right;
	margin-bottom: 0;
}
.thumb-pad4 .thumbnail .caption .title2 {
	font: 11px Arial, Helvetica, sans-serif;
	color: #8c8c8c;
	text-align: right;
	margin-bottom: 0;
	margin-top: -7px;
}
.thumb-pad5 {
	overflow: hidden;
	margin-bottom: 34px;
}
.thumb-pad5 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
	overflow: hidden;
}
.thumb-pad5 .thumbnail .badgeBox {
	overflow: hidden;
	margin-bottom: 15px;
}
.thumb-pad5 .thumbnail .badgeBox .badge {
	padding: 0;
	margin: 0;
	box-shadow: none;
	text-shadow: none;
	border: none;
	border-radius: 0;
	line-height: 23px;
	background: none;
	position: relative;
	display: inline-block;
	float: none;
	margin-right: 30px;
	float: left;
	margin-top: 6px;
}
.thumb-pad5 .thumbnail .badgeBox .badge strong {
	font: 20px/20px 'Open Sans';
	color: #ffffff;
	text-align: center;
	background: #82b82d;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	display: table-cell;
	vertical-align: middle;
}
.thumb-pad5 .thumbnail .badgeBox .badge span {
	font: 14px/15px 'Open Sans';
	color: #2d2d2d;
	text-transform: uppercase;
}
.thumb-pad5 .thumbnail .badgeBox p {
	line-height: 20px;
	margin-bottom: 0;
}
.thumb-pad5 .thumbnail .badgeBox p > .lnk {
	font: 14px Arial, Helvetica, sans-serif;
	color: #8c8c8c;
	text-transform: none;
}
.thumb-pad5 .thumbnail .badgeBox p > .lnk:hover {
	color: #89ca30;
}
.badgeBox .title_lnk {
	margin-bottom: 9px !important;
}
.thumb-pad5 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	color: #8c8c8c;
}
.thumb-pad5 .thumbnail .caption p {
	margin-bottom: 23px;
}
.thumb-pad5 figure {
	position: relative;
	z-index: 1;
	margin: 0;
	float: left;
	margin-right: 31px;
}
.thumb-pad5 figure > img {
	width: 100%;
}
.thumb-pad5 .thumbnail .badgeBox a {
	font: 300 19px 'Open Sans';
	color: #2d2d2d;
	text-transform: none;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad5 .thumbnail .badgeBox a:hover {
	color: #82b82d;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.servBox {
	padding-bottom: 38px;
}
.thumb-pad7 {
	overflow: hidden;
	padding-bottom: 46px;
}
.thumb-pad7 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad7 figure {
	margin: 0;
	margin-bottom: 25px;
}
.thumb-pad7 figure > img {
	width: 100%;
}
.thumb-pad7 .thumbnail .caption {
	padding: 0;
	color: #8c8c8c;
}
.thumb-pad7 .thumbnail .caption .title {
	color: #4b4b4b;
	font: 15px/20px 'Racing Sans One';
	text-transform: uppercase;
	margin-bottom: 10px;
}
.thumb-pad7 .thumbnail .caption p {
	margin-bottom: 23px;
}
.thumb-pad9 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
	overflow: hidden;
}
.thumb-pad9 figure {
	margin: 0;
	margin-bottom: 24px;
}
.thumb-pad9 figure > img {
	width: 100%;
}
.thumb-pad9 .thumbnail .caption {
	padding: 0;
	color: #8c8c8c;
}
/*-----carousel-----*/
.list_carousel2.responsive {
	width: auto;
	margin: 0;
	padding-top: 10px;
}
.list_carousel2 #foo2 {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	cursor: default;
}
.list_carousel2 #foo2 > li {
	padding: 0;
	float: left;
	cursor: default;
	text-align: center !important;
	font: 16px/24px 'Open Sans';
}
.list_carousel2 #foo2 > li img {
	width: 100%;
}
.list_carousel2.responsive .caroufredsel_wrapper {
	cursor: default !important;
}
.list_carousel2 .prev2, .list_carousel2 .next2 {
	display: inline-block;
	width: 38px;
	height: 73px;
	cursor: pointer;
	position: absolute;
	top: 30%;
}
.list_carousel2 .prev2 {
	background: url(../img/prev.png) 0 top no-repeat;
	left: -85px;
}
.list_carousel2 .next2 {
	background: url(../img/next.png) 0 top no-repeat;
	right: -85px;
}
.list_carousel2 .prev2:hover {
	background: url(../img/prev.png) 0 bottom no-repeat;
}
.list_carousel2 .next2:hover {
	background: url(../img/next.png) 0 bottom no-repeat;
}
/*-----btn-----*/
.btn-default.btn1 {
	box-shadow: none;
	position: relative;
	text-decoration: none;
	padding: 13px 35px 14px 36px;
	font: 13px 'Open Sans';
	margin: 0;
	text-shadow: none;
	color: #ffffff;
	border: none;
	background: #89ca30 !important;
	border-radius: 20px;
	display: inline-block;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.btn-default.btn1:hover {
	color: #ffffff;
	background: #2b2b2b !important;
	text-decoration: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.btn-default.btn2 {
	box-shadow: none;
	position: relative;
	text-decoration: none;
	padding: 0;
	font: 13px 'Open Sans';
	margin: 0;
	text-shadow: none;
	color: #ffffff;
	border: none;
	background: none !important;
	border-radius: 2px;
	display: inline-block;
}
.btn-default.btn2 > img {
	margin-left: 9px;
	margin-top: -2px;
	display: inline-block;
}
.btn-default.btn2:hover {
	color: #ffffff;
	background: none !important;
	text-decoration: underline;
}
.btn3 {
	box-shadow: none;
	position: relative;
	text-decoration: none;
	display: inline-block;
	padding: 0;
	font: 16px 'Oswald';
	margin: 0;
	text-transform: none;
	text-shadow: none;
	color: #616161;
	border: none;
	background: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn3 > img {
	float: left;
	margin-top: 8px;
	margin-right: 7px;
}
.btn3:hover {
	color: #8c8c8c;
	background: none;
	text-decoration: none;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.follow_icon {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	display: inline-block;
	position: relative;
	height: 34px;
	width: 200px;
}
.follow_icon li {
	float: left;
	margin-right: 11px;
	position: absolute;
	top: 0;
}
.twitter {
	left: 0px;
    width: 34px;
    background: url('/static/img/sprites.png') 0 -50px;
}
.plus{
	left: 45px;
    width: 34px;
    background: url('/static/img/sprites.png') -50px 0;
}
.fb {
	left: 90px;
    width: 34px;
    background: url('/static/img/sprites.png') -50px -50px;
}
.rss {
	left: 135px;
    width: 34px;
    background: url('/static/img/sprites.png') 0 0;
}
.follow_icon li:last-child {
	margin-right: 0;
}
.follow_icon li a {
	height: 34px;
	display: block;
	opacity: 1 !important;
	-webkit-transition: all 0.35s ease !important;
	transition: all 0.35s ease !important;
}
.follow_icon li a:hover {
	opacity: 0.7 !important;
	-webkit-transition: all 0.35s ease !important;
	transition: all 0.35s ease !important;
}
.circleBox .badge {
	background: #82b82d;
	width: 78px;
	height: 78px;
	border-radius: 78px;
	text-align: center;
	font: 600 36px 'Open Sans';
	color: #ffffff;
	padding-top: 12px;
	float: left;
	margin-right: 23px;
}
.circleBox .badge.color {
	background: #484848;
}
.circleBox hr {
	margin: 0;
	border-bottom: none;
	border-top-color: #cacaca;
	margin-bottom: 27px;
	margin-top: 8px;
}
.circleBox .extra-wrap {
	text-transform: uppercase;
}
.circleBox .extra-wrap p {
	margin-bottom: 48px;
}
.circleBox .extra-wrap span {
	color: #010101;
}
.circleBox article {
	padding-top: 15px;
}
.contactBox .comp {
	font: 300 24px 'Open Sans';
	color: #2f2f2f;
	margin-top: -18px;
	margin-bottom: 27px;
}
.contactBox .comp span {
	color: #676767;
}
.contactBox .caption {
	margin: 0;
	color: #8c8c8c;
}
.contactBox .caption p {
	font-size: 14px;
	line-height: 24px;
	color: #727272;
	margin-bottom: 24px;
}
.contactBox .caption a {
	font-size: 14px;
	line-height: 24px;
	color: #82b82d;
	text-decoration: underline !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.contactBox .caption a:hover {
	color: #383838;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
/*-----list-----*/
.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: -5px;
}
.list1 li {
	font-size: 14px;
	line-height: 20px;
	background: url(../img/list_point.png) left 7px no-repeat;
	padding-left: 20px;
	margin-bottom: 15px;
}
.list1 li a {
	font: 14px Arial, Helvetica, sans-serif;
	color: #8c8c8c;
}
.list1 li a:hover {
	color: #89ca30;
}
.list2 {
	margin: 0 0 72px 0;
	padding: 0;
	list-style: none;
	margin-top: -6px;
}
.list2 li {
	font-size: 14px;
	line-height: 1.428571429;
	margin-bottom: 25px;
	overflow: hidden;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 15px;
}
.list2 li a {
	font-weight: bold;
	color: #edce3d;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list2 li a:hover {
	color: #ffffff;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list2 li .badge {
	padding: 0;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	font: 21px/24px 'Oswald';
	text-align: center;
	color: #ffffff;
	background: #f06d56;
	padding-top: 6px;
	width: 37px;
	height: 37px;
	float: left;
	margin-right: 29px;
	margin-top: 0;
}
.list2 li:first-child + li + li {
	border-bottom: none;
}
.list3 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list3 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
	padding-bottom: 15px;
	margin-bottom: 13px;
	border-bottom: 1px solid #f2f2f2;
}
.list3 li .extra-wrap p {
	margin-bottom: 0;
}
.list3 li > img {
	float: left;
	margin-right: 14px;
	margin-top: 7px;
}
.list3 li a {
	color: #4b4b4b;
	font: bold 10px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list3 li a:hover {
	color: #8c8c8c;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list3 li:first-child + li + li {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
.list4 {
	margin: -12px 0 50px 0;
	padding: 0;
	list-style: none;
}
.list4 li {
	font-size: 14px;
	line-height: 20px;
	padding-left: 15px;
	margin-bottom: 8px;
	background: url(../img/list_point.png) left 7px no-repeat;
}
.list4 li a {
	color: #787878;
	font: 13px Arial, Helvetica, sans-serif;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list4 li a:hover {
	color: #f06d56;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list5 {
	margin: -9px 0 0 0;
	padding: 0;
	list-style: none;
}
.list5 li {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 33px;
}
.list6 {
	margin: -5px 0 0 0;
	padding: 0;
	list-style: none;
}
.list6 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
}
.list6 li a {
	color: #2d2d2d;
	font: 300 19px/24px 'Open Sans';
	margin: 0;
	margin-bottom: 11px;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list6 li a:hover {
	color: #89ca30;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list6 li .badge {
	padding: 0;
	margin: 0;
	box-shadow: none;
	text-shadow: none;
	font: 20px 'Open Sans';
	text-align: center;
	color: #ffffff;
	background: #89ca30;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	float: left;
	margin-right: 30px;
	margin-top: 5px;
	padding-top: 5px;
}
.list8 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list8 li {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 19px;
}
.list8 li p {
	margin-bottom: 0;
}
.list8 li h4 {
	margin-bottom: 10px;
}
/*-----search-----*/
#search-404 {
	position: relative;
	margin: 0;
	margin-top: 15px;
}
#search-404 input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #d7d7d7;
	background: #f6f6f7;
	font: 14px Arial, Helvetica, sans-serif;
	line-height: 18px;
	color: #727272;
	padding: 6px 15px 7px 10px;
	height: 33px;
	resize: none;
	margin-bottom: 37px;
}
#search {
	overflow: hidden;
	position: relative;
}
#search a {
	position: absolute;
	top: 10px;
	right: 14px;
	width: 15px;
	height: 15px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#search input {
	width: 369px;
	outline: none;
	box-shadow: none;
	border: none;
	color: #8c8c8c;
	font: 14px Arial, Helvetica, sans-serif;
	border-radius: 0;
	padding: 7px 10px 10px 13px;
	margin-right: 0;
	float: left;
	background: none;
	border: 3px solid #e1e1e1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 41px;
}
/*-----map-----*/
.map {
	margin: 0 0 0 0;
	display: inline-block;
	width: 100%;
	line-height: 0;
}
.map iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 462px;
	border: none;
	line-height: 0;
}
.info p {
	margin-bottom: 19px;
}
.info h2 {
	font-weight: normal;
}
.info p span {
	width: 94px;
	display: inline-block;
}
.info a:hover {
	color: #4b4b4b;
}
/*-----form-----*/
#contact-form {
	width: 100%;
	position: relative;
	overflow: hidden;
}
#contact-form label {
	position: relative;
	display: block;
	min-height: 43px;
	margin: 0;
	font-weight: normal;
	font: 14px Arial, Helvetica, sans-serif;
	line-height: 18px;
	color: #8c8c8c;
}
#contact-form label span {
	margin-bottom: 2px;
}
#contact-form .holder {
	overflow: hidden;
}
.form-div-1, .form-div-2, .form-div-3 {
	float: left;
	width: 223px;
	margin-right: 10px;
}
.form-div-3 {
	margin-right: 0;
}
#contact-form span {
	display: block;
}
#contact-form ._placeholder {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: text;
	padding: 6px 15px 7px 10px;
	border-radius: 0;
	display: block;
}
#contact-form ._placeholder.focused {
	opacity: .4;
	filter: alpha(opacity=40);
	box-shadow: none;
}
#contact-form ._placeholder.hidden {
	display: none;
}
#contact-form input, #contact-form textarea {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #d7d7d7;
	background: #f6f6f7;
	font: 14px Arial, Helvetica, sans-serif;
	line-height: 18px;
	color: #727272;
	padding: 6px 15px 7px 10px;
	height: 33px;
	resize: none;
}
#contact-form textarea {
	height: 145px;
	margin-bottom: 37px;
}
#contact-form .error-message, #contact-form .empty-message {
	height: 0;
	overflow: hidden;
	font: 10px Arial, Helvetica, sans-serif;
	color: #333;
	-webkit-transition: 0.3s ease-in height;
	transition: 0.3s ease-in height;
	position: absolute;
	right: 5px;
	top: 2px;
}
#contact-form .invalid .error-message, #contact-form .empty .empty-message {
	height: 20px;
}
#contact-form .success-message {
	line-height: 48px;
	position: absolute;
	overflow: hidden;
	height: 0;
	left: 0;
	top: 0;
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;
	background: #fff;
	z-index: 10;
	width: 100%;
	text-align: center;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	padding: 0px 0;
}
#contact-form.success .success-message {
	height: 33px;
	padding: 6px 15px 7px 14px;
	line-height: 18px;
	border: 1px solid #d7d7d7;
	background: #f6f6f7;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.btns .btn1 {
	float: left;
}
.btns p {
	margin-top: 30px;
	margin-bottom: 0;
	float: left;
	margin-left: 16px;
	color: #727272;
	font-weight: normal;
}
.mail {
	text-decoration: none;
	color: #89ca30;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.mail:hover {
	color: #8c8c8c;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
/*------------------------------------------------------media queries---------------------------------------------------------*/
@media (min-width: 1220px) {
 .container {
 padding: 0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1219px) {
 .form-div-1,  .form-div-2,  .form-div-3 {
 width: 100%;
 float: none;
}
 .list_carousel2 .next2 {
 right: -66px;
}
 .list_carousel2 .prev2 {
 left: -66px;
}
 .bannersBox .box1,  .bannersBox .box2 {
 width: 313px;
}
 .bannersBox .box2 .caption {
 padding-top: 24px;
 padding-bottom: 32px;
}
 .bannersBox .box1 figure {
 margin-bottom: 30px;
}
 .bannersBox .box1 .caption {
 padding-bottom: 25px;
}
 .bannersBox2 .box3 > div ul {
 padding-top: 0;
}
 .bannersBox2 .box3 > div ul li p {
 font-size: 16px;
 line-height: 21px;
}
 .bannersBox2 .box2 > div figure {
 margin-bottom: 97px;
}
 .errorBox > img {
 width: 100%;
}
 .bannersBox2 .box3 > div a {
 margin-bottom: 36px;
}
 .bannersBox2 .box2 > div {
 padding: 0 0 19px 0;
}
 .list6 li .badge {
 float: none;
 margin-bottom: 5px;
 margin-right: 0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
 nav.tm_navbar li {
 padding-right: 24px;
 margin-right: 24px;
}
 .list_carousel2 .next2 {
 right: -48px;
}
 .list_carousel2 .prev2 {
 left: -48px;
}
 .bannersBox .box1,  .bannersBox .box2 {
 width: 240px;
}
 .bannersBox .box2 .caption {
 padding-top: 24px;
 padding-bottom: 32px;
}
 .bannersBox .box1 figure {
 margin-bottom: 30px;
}
 .bannersBox .box1 .caption {
 padding-bottom: 25px;
}
 .bannersBox .caption h2 {
 font-size: 22px;
 line-height: 26px;
}
 .bannersBox2 article {
 height: auto !important;
 overflow: hidden;
 margin-bottom: 30px;
}
 .bannersBox2 .box2 > div {
 padding: 0 0 42px 0;
}
 .form-div-1,  .form-div-2,  .form-div-3 {
 width: 100%;
 float: none;
}
 .errorBox img {
 width: 100%;
}
 .thumb-pad4 figure {
 margin-right: 0;
 width: 100%;
 float: none;
 margin-bottom: 20px;
}
 .thumb-pad4 figure img {
 width: 100%;
}
 .thumb-pad2 figure {
 float: none;
 margin-right: 0;
 margin-bottom: 10px;
}
 .thumb-pad2 .thumbnail .caption h2 {
 font-size: 27px;
 line-height: 30px;
}
 .thumb-pad5 figure {
 margin-right: 0;
 width: 100%;
 float: none;
 margin-bottom: 20px;
}
 .aboutBox > div,  .missionBox > div,  .trainers-box > div {
 height: auto !important;
}
 .testimonialsBox article {
 margin-bottom: 35px;
}
 .privacyBox > div {
 height: auto !important;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
 .select-menu {
 display: inline-block !important;
 padding-top: 4px;
 padding-right: 3px;
 padding-bottom: 4px;
 width: 100%;
 border: 1px solid #ffffff;
 background: #ffffff;
 color: #383838;
 cursor: pointer;
 height: 30px;
 vertical-align: middle;
}
 h1.navbar-brand_ a {
 width: 100%;
}
 header {
 background: #89ca30;
}
 header section {
 padding: 36px 20px 0 20px;
}
 .global {
 margin-top: 0;
}
 nav.tm_navbar {
 float: none;
 display: inline-block;
 width: 100%;
 padding: 0;
 margin: 0;
 background: none;
}
 nav.tm_navbar .nav {
 display: none;
}
 h1.navbar-brand_ {
 width: 100%;
 float: none;
 text-align: center;
}
 .list_carousel2 .next2 {
 right: 15px;
}
 .list_carousel2 .prev2 {
 left: 15px;
}
 .list_carousel2 #foo2 > li {
 font-size: 13px;
 line-height: 23px;
 padding: 0 35px;
}
 .list_carousel2 #foo2 > li br {
 display: none;
}
 .list_carousel2 .prev2,  .list_carousel2 .next2 {
 top: -26px;
}
 .bannersBox .box1,  .bannersBox .box2 {
 width: 33%;
}
 .bannersBox .box2 .caption {
 padding-top: 24px;
 padding-bottom: 32px;
}
 .bannersBox .box1 figure {
 margin-bottom: 30px;
}
 .bannersBox .box1 .caption {
 padding-bottom: 25px;
}
 .bannersBox .caption h2 {
 font-size: 18px;
 line-height: 22px;
}
 .bannersBox2 .box1 {
 width: 50%;
 float: left;
 overflow: hidden;
 height: auto !important;
 margin-bottom: 30px;
}
 .bannersBox2 .box2 {
 width: 50%;
 float: left;
 overflow: hidden;
 height: auto !important;
 margin-bottom: 30px;
}
 .bannersBox2 .box2 > div {
 padding: 0 0 42px 0;
}
 .bannersBox2 .box1 > div p {
 font-size: 15px;
 line-height: 21px;
}
 .bannersBox2 .box3 {
 width: 100%;
 float: left;
 height: auto !important;
 margin-bottom: 30px;
}
 .thumb-pad3 {
 margin-bottom: 70px;
}
 .list1 {
 padding-bottom: 70px;
}
 .about-box {
 margin-bottom: 50px;
}
 .list2 {
 margin-bottom: 70px;
}
 .services-box {
 float: left;
}
 .form-div-1,  .form-div-2,  .form-div-3 {
 float: none;
 width: 100%;
 margin-bottom: 3px;
}
 #contact-form .error,  #contact-form .empty {
 bottom: 2px;
 text-align: right;
}
 #contact-form .message .error,  #contact-form .message .empty {
 bottom: 2px;
}
 .errorBox {
 margin-top: 0;
 margin-bottom: 50px;
}
 .map iframe {
 height: 300px;
}
 .info {
 margin-bottom: 50px;
}
 .info-box {
 width: 100%;
}
 .iconBlock {
 margin-top: 50px;
 margin-bottom: 50px;
}
 .margTop {
 margin-top: 60px !important;
}
 .list-romb-box {
 text-align: center;
}
 .list3 {
 padding-bottom: 70px;
}
 .list1-3 {
 margin-bottom: 70px;
}
 footer {
 text-align: center;
}
 footer article {
 height: auto !important;
 border: none !important;
}
 .homeBox figure {
 float: none;
 margin-left: 0;
 display: inline-block;
}
 .thumb-pad5 .thumbnail .caption {
 overflow: visible;
}
 .thumb-pad5 {
 padding-bottom: 40px;
}
 .thumb-pad9 figure {
 float: left;
 margin-right: 15px;
}
 .thumb-pad9 {
 margin-bottom: 70px;
}
 .list6 {
 margin-bottom: 70px;
}
 .aboutBox > div,  .missionBox > div,  .trainers-box > div {
 height: auto !important;
}
 .testimonialsBox article {
 margin-bottom: 35px;
}
 .privBox p {
 margin-left: 0;
}
 .info-box > div,  .contactBox > div {
 height: auto !important;
}
 .privacyBox > div {
 height: auto !important;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
 .thumb-pad3 figure {
 float: none;
 margin-right: 0;
}
 .thumb-pad4 figure {
 margin: 0;
 float: none;
 width: 100%;
 margin-bottom: 20px;
}
 .thumb-pad4 figure img {
 width: 100%;
}
 .thumb-pad9 figure {
 float: none;
 margin-right: 0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
 h2 {
 font-size: 19px;
 line-height: 22px;
}
 .bannersBox2 article {
 width: 100% !important;
 float: left;
}
 .bannersBox2 .box3 > div ul li p {
 font-size: 15px;
 line-height: 20px;
}
 .errorBox img {
 width: 100%;
}
 .thumb-pad5 figure {
 float: none;
 margin-right: 0;
 margin-bottom: 15px;
}
 .thumb-pad5 .thumbnail .post .posted a {
 float: none !important;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
 .bannersBox .box1,  .bannersBox .box2 {
 width: 100%;
 float: none;
 margin-bottom: 30px;
}
 .bannersBox .caption h2 {
 font-size: 23px;
 line-height: 27px;
}
 .list2 li .badge {
 float: none;
 margin-bottom: 10px;
 margin-right: 0;
}
 .thumb-pad4 figure {
 margin-right: 0;
 width: 100%;
 float: none;
 margin-bottom: 20px;
}
 .thumb-pad4 figure img {
 width: 100%;
}
 .galleryBox article {
 width: 100%;
 float: none;
}
 .professionalBox article {
 width: 100%;
 float: none;
}
 .servBox article {
 width: 100%;
 float: none;
}
 .thumb-pad2 figure {
 float: none;
 margin-right: 0;
 margin-bottom: 10px;
}
 .thumb-pad2 .thumbnail .caption h2 {
 font-size: 27px;
 line-height: 30px;
}
 .thumb-pad2 .thumbnail .caption br {
 display: none;
}
 footer p {
 margin-bottom: 0;
}
 footer p span {
 display: block;
}
 .trainerBox {
 width: 100%;
 float: none;
}
 .testimonialsBox article {
 width: 100%;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
 h1.navbar-brand_ a {
 padding-left: 20px;
 padding-right: 20px;
}
 h1.navbar-brand_ a img {
 width: 100%;
}
 footer p {
 margin-bottom: 0;
}
 footer p span {
 display: block;
}
 .thumb-pad1 .thumbnail figure {
 margin-right: 0;
 float: none;
 margin-bottom: 10px;
}
 .teamBox article {
 float: none;
 width: 100%;
}
 .thumb-pad4 .thumbnail .posted br {
 display: block!important;
}
 .thumb-pad4 .thumbnail .posted a {
 float: none!important;
}
 .teamBox article {
 width: 100%;
 float: none;
}
 .trainerBox {
 width: 100%;
 float: none;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.margBot {
	margin-bottom: 93px;
}
.padBot {
	padding-bottom: 47px;
}
/*Core variables and mixins*/
